@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<WebApplication4.Models.SentenceModel>
@using (Html.BeginForm("Index",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload File:</label>
    <input type="file" name="file" id="file" /><br><br>

    <input type="text" name="searchWord" id="searchWord" /><br><br>
    <input type="submit" value="Upload File" />

    @ViewBag.Message
}
<table>
    <tr>
        <th>Sentence</th>
        <th>Word</th>
    </tr>
    @if (Model != null)
    {
        foreach (var sentence in Model)
        {
            <tr>
                <td>@sentence.Sentence </td>
                <td>@sentence.Word</td>
                <td>@sentence.Number</td>
            </tr>
        }

    }
</table>
